{% load i18n %}
<!-- innecesario porque no voy a traducir -->

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Detectores de Metales</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="{% url "expedientes_list" %}">Inicio </a> </li>
            <li><a href="#about">Ayuda</a></li>
            <li><a href="#contact">Contacto</a></li>
            
            <!-- templatetag trans eliminarla -->
            <!-- INTRANET_URL es la variable provista por el context processor de ejemplo -->
            <li><a href="{{ INTRANET_URL }}">{% trans "Blog" %}</a></li>
            <li class="dropdown">
              <a href="{% url "expedientes_list" %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Expedientes"%} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="{% url "expedientes_list" %}">{% trans "Expedientes" %}</a></li>
                <li><a href="{% url "expedientes_add" %}">{% trans "Añadir expediente" %}</a></li>
              </ul>
            </li>
             <!-- ejemplo para cambio de idioma, lo usare para acceso a playas, solicitantes...
            <li class="dropdown">
              <a href="{% url "playas_list" %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Playas <span class="caret"></span></a>
              <ul class="dropdown-menu">
                    <li><a href="{% url "playas_list" %}"> Playas </a></li>
                    <li><a href="{% url "playas_add" %}"> Añadir Playa </a></li>
              </ul>
            </li>     -->
          </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
